@charset "UTF-8";

$mc: #00b7ee;
$lightMainColor: #ff706a;
$c-333: #333;
$c-666: #666;
$c-999: #999;
$borderColor: #e6e6e6;
$bgColorF5: #f5f5f5;
$borderColorE6: #e6e6e6;
$borderRadius: 5px;

//common
$maincolor:#00b7ee;
$bdc:#e6e6e6;
$price-up: #ff6f00;
$price-down: #5bc84d;
$static_path: 'http://ots1c8etv.bkt.clouddn.com';