@charset "UTF-8";

@import "args";
//calendar
@import 'calendar';

//house search list
.__house-search-list {
  .container {
    background: #fff;
    border-bottom: 1px solid $borderColor;
    width:auto;
    height:100%;
  }

  .house-item {
    padding-top: 25rpx;
    padding-bottom: 25rpx;
    display: flex;

    .house-pic {
      margin-right: 20rpx;
      background: #eee;
      position: relative;
      text {
        background: $lightMainColor;
        color: #fff;
        line-height: 32rpx;
        padding: 0 15rpx;
        font-size: 22rpx;
        position: absolute;
        left: 0;
        bottom: 10rpx;
      }
    }

    image {
      display: block;
      width: 200rpx;
      height: 150rpx;
    }

    .house-text {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      vertical-align: middle;
      .house-title {
        font-size: 28rpx;
        line-height: 36rpx;
        font-weight: 500;
        position: relative;
        top: -4rpx;
        text {
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        .price {
          position: absolute;
          color: rgb(223,82,37);
          padding: 10rpx;
          font-size: 30rpx;
          top: -10rpx;
          right: -10rpx;
        }
        .zhiding{
          color:#fff;
          display: inline-block;
          text-align: center;
          width:30rpx;
          height:30rpx;
          line-height: 30rpx;
          background-color: #FCA61E;
          border-radius: 8rpx;
          margin-right:10rpx;

        }
      }
      .house-info {
        font-size: 24rpx;
        height: 32rpx;
        line-height: 32rpx;
        vertical-align: -4rpx;
        view {
          display: inline-block;
        }
        .locate {
          margin-right: 24rpx;
          &.company{
            color:#999;
          }
        }
        .iconfont {
          font-size: 22rpx;
          margin-right: 8rpx;
        }
        .fr {
          position: relative;
          height: 32rpx;
          .unit {
            font-size: 26rpx;
          }
        }
      }
      .house-pay {
        font-size: 24rpx;
        font-weight: 500;
        line-height: 32rpx;
        color: rgb(223,82,37);
        .tag_pay{
          color:#fff;
          display: inline-block;
          text-align: center;
          width:30rpx;
          height:30rpx;
          line-height: 30rpx;
          background-color: rgb(223,82,37);
          border-radius: 8rpx;
          margin-right:10rpx;
        }
      }
      .house-condition {
        font-size: 24rpx;
        height: 40rpx - 6rpx;
        padding-top: 6rpx;
        width: 480rpx;
        overflow: hidden;
        position: relative;
        .tags {
          text {
            line-height: 32rpx;
            padding: 0 6rpx;
            margin-bottom: 30rpx;
          }
          text+text {
            margin-left: 10rpx;
            border-radius: 2px;
          }
        }
        .esf-tags {
          max-width: 350rpx;
        }
        .avg {
          position: absolute;
          top: 6rpx;
          right: 0;
        }
      }

      .house-company{

      }
      .tag1 {
        color: #7a9bcc;
        background: #ebf3fe;
      }
      .tag2 {
        color: #e29076;
        background: #fbe9e7;
      }
      .tag3 {
        color: #75ae75;
        background: #e1f8e0;
      }
      .tag4 {
        color: #ffa726;
        background: #fff3e0;
      }
    }
  }

  .house-item-special {
    padding-top: 25rpx;
    padding-bottom: 25rpx;
    white-space: nowrap;
    line-height: 36rpx;
    height: 36rpx;
    vertical-align: middle;
    text {
      color: #fff;
      background: $maincolor;
      font-size: 24rpx;
      text-align: center;
      padding: 0 15rpx;
      height: 36rpx;
      margin-right: 10rpx;
    }
  }
}

//search bar
.__search-bar {
  background: #efefef;

  &.focused {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
  }

  .search-unclick {
    padding-top: 30rpx;
    padding-bottom: 30rpx;
    .unclick-text {
      background: #fff;
      border-radius: $borderRadius;
      line-height: 60rpx;
      height: 60rpx;
      font-size: 24rpx;

    }
  }

  .search-box {
    .input-container {
      background: #fff;
      border-bottom: 1px solid #e1e1e1;
      font-size: 28rpx;
      line-height: 60rpx;
      padding-top: 15rpx;
      padding-bottom: 15rpx;
      >view {
        position: relative;
        padding-left: 44rpx;
        padding-right: 150rpx + 10rpx;
      }
      input {
        display: block;
        height: 60rpx;
      }
      .icon-sousuo {
        position: absolute;
        color: #ccc;
        left: 0;
        top: 0;
      }
      .icon-close {
        position: absolute;
        color: #bfbfbf;
        padding: 10rpx;
        right: 118rpx - 10rpx;
        top: 0 - 10rpx;
      }
      .search-cancel {
        height: 60rpx;
        padding: 15rpx 0;
        position: absolute;
        right: -24rpx;
        top: -15rpx;
        text {
          border-left: 1px solid #dfdfdf;
          height: 60rpx;
          padding-left: 33rpx;
          padding-right: 34rpx;
        }
      }
    }
  }


  .search-nav{position:relative;width: 100%; height: 90rpx; overflow: hidden;  background: #fff; border-bottom: 1px solid $borderColor;
    .nav-slide{ float: left; width:85%;height:100%;font-size: 30rpx;  background: #fff;overflow: hidden;
      .ul{ overflow-y: hidden;overflow-x: scroll; white-space: nowrap;padding:28rpx 24rpx;margin:0  auto;
        .li{display: inline-block; width:auto!important;height:auto!important;
          text{display: inline-block; color: #333; padding:0 24rpx; }
          &.on{text{color:#fff; background-color: #00b7ee;border-radius: 26rpx;}}
        }
      }
    }
    .search-btn{ position: absolute;top:0;right:0;width:90rpx;height: 90rpx; line-height: 90rpx;
      -webkit-box-shadow:0 0 40px rgba(0,0,0,.2);
      box-shadow:0 0 40px rgba(0,0,0,.2);
      //z-index-old: 2;
      font-size: 44rpx;
      background: #fff;
      color:$c-666;
      text {
        vertical-align: middle;
        float: right;
        display: block;
        color:$c-666;
        padding-right:15rpx;
        padding-top:15rpx;
      }
      .icon-sousuo {

        line-height: 60rpx;
        color: #ccc;
        margin: 0 12rpx 0 20rpx;
      }
    }
  }

}

.ui-search-bar{
  position:relative;
  padding:24rpx;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-bottom: 1rpx solid $borderColorE6;
  .ui-search-bar__form{
    position:relative;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    flex: auto;
    .ui-search-bar__box{
      position: relative;
      padding-left: 24rpx;
      padding-right: 24rpx;
      height: 100%;
      width: 100%;
      background-color: #fff;
      box-sizing: border-box;
      z-index: 1;
      border-radius: 8rpx;
      .ui-search-bar__input{
        padding:4rpx 0;
        width: 100%;
        height: 48rpx;
        border: 0;
        font-size:28rpx;
        line-height: 48rpx;
        box-sizing: content-box;
        background: transparent;
      }
      .search_input_placeholder_c{
          color:#999;;
           font-size:24rpx;
      }
      .ui-icon-clear{
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 10rpx;
        line-height: 60rpx;
        font-size: 34rpx;
        color:#666;
      }
    }
  }
  .ui-search-bar__cancel-btn{
    margin-left:20rpx;
    white-space: nowrap;
    color:#414141;
  }
}

//search filter
.__search-filter {
  position: relative;

  &.fixed {
    .filter-bg {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  .filter-tab {
    background: #fff;
    border-bottom: 1px solid $borderColor;
    overflow: hidden;
    line-height: 88rpx;
    >view {
      float: left;
      width: 25%;
      text-align: center;
      overflow: hidden;
      display: flex;
      justify-content: center;
      text:nth-child(1) {
        max-width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .iconfont {
        font-size: 20rpx;
        color: #b8b8b8;
        margin-left: 12rpx;
      }
      &.on {
        color: $maincolor;
        .iconfont {
          color: $maincolor;
          transform: rotate(180deg);
        }
      }
    }
  }

  .filter-select {
    background: #fff;

    .area-select {
      overflow: hidden;
      .fl {
        background: $borderColor;
        width: 300rpx;
      }
      .fr {
        width: 450rpx;
      }
      scroll-view {
        height: 80vh;
        text-align: center;
      }
    }

    scroll-view {
      .li {
        line-height: 88rpx;
        border-bottom: 1px solid $borderColor;
        padding: 0 48rpx;
        &.on {
          color: $maincolor;
          background: #fff;
        }
      }
    } //price
    .price-filter-btn {
      border-bottom: 1px solid $borderColor;
      padding-top: 30rpx;
      padding-bottom: 30rpx;
      line-height: 68rpx;
      display: flex;
      justify-content: space-between;
      input {
        display: inline-block;
        vertical-align: top;
        border-radius: $borderRadius;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        max-width: 120rpx;
        height: 68rpx;
        text-align: center;
      }
      text {
        display: inline-block;
        vertical-align: top;
        margin: 0 20rpx;
      }
      button {
        width: 320rpx;
        line-height: 68rpx;
        height: 68rpx;
      }
    } //other-filter
    .other-select {
      .container {
        padding-top: 10rpx;
        padding-bottom: 10rpx;
        border-bottom: 1px solid $borderColor;
        &:last-of-type {
          border-bottom: 0;
        }
      }
      text {
        padding: 20rpx 0;
        font-weight: 500;
      }
      .select-list {
        margin: 0 -9rpx;
        overflow: hidden;
        button {
          float: left;
          background: #fff;
          height: 68rpx;
          line-height: 68rpx;
          width: 220rpx;
          font-size: 14px;
          margin: 10rpx;
          padding: 0 0.3em;
          &.on {
            background: $lightMainColor;
            color: #fff;
          }
        }
      }
      .other-btn-filter {
        border-top: 1px solid $borderColor;
        padding-top: 30rpx;
        padding-bottom: 30rpx;
        height: 80rpx;
        button {
          display: inline-block;
          height: 80rpx;
          line-height: 80rpx;
          width: 340rpx;
        }
      }
    }
  }
}

//wux toast
.weui-toast{
  position:fixed;
  z-index:100;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  .weui-toast__content {
    width:auto;
    height:auto;
    padding: 26rpx;
    border-radius: 10rpx;
    background:none;
    background-color: rgba(0,0,0,.65);
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 30rpx;
  }
}


//activesheet
.action-sheet-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  .action-sheet-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: auto;
    .action-sheet {
      width: auto;
      z-index: 11;
      overflow: hidden;
      .action-sheet-group {
        padding-bottom: 100rpx;
        background-color: #fff;
        overflow: hidden;
        .action-sheet-title {
          padding:24rpx;
          color: #8f8f8f;
          text-align: left;
          font-size: 30rpx;
        }
        .icon-dianhua1{
          color:#5bc84d;
          font-size:50rpx;
        }
        &.action-sheet-nopadbm{
          padding-bottom:0;
        }
      }
    }

  }
}


//dialog
.weui-dialog {
  position: fixed;
  z-index: 5000;
  width: 80%;
  max-width: 600rpx;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  text-align: center;
  border-radius: 10rpx;
  overflow: hidden;
  .weui-dialog__hd {
    padding: 24rpx 0;
    border-bottom: 1rpx solid $borderColorE6;
    .weui-dialog__title {
      font-weight: 400;
      font-size: 36rpx;
    }
  }

  .weui-dialog__bd {
    padding: 24rpx;
    min-height: 80rpx;
    font-size: 30rpx;
    line-height: 1.5;
    word-wrap: break-word;
    word-break: break-all;
    color: #999999;
  }
  .weui-dialog__ft {
    position: relative;
    line-height: 98rpx;
    font-size: 36rpx;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    &:after {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 1rpx;
      border-top: 1rpx solid #d5d5d6;
      color: #d5d5d6;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
    &.weui-dialog__btns_vertical {
      display: block;
      height: auto;
    }
  }
  .weui-dialog__btn {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color: #3cc51f;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    &:active {
      background-color: #eeeeee;
    }
    &:after {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: 1rpx;
      bottom: 0;
      border-left: 1rpx solid #d5d5d6;
      color: #d5d5d6;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scaleX(0.5);
      transform: scaleX(0.5);
    }
    &:first-child {
      &:after {
        display: none;
      }
    }
    &.weui-dialog__btn_bold {
      font-weight: 500;
    }
  }
  .weui-dialog__btn_default {
    color: #353535;
  }
  .weui-dialog__btn_primary {
    color: #0bb20c;
  }
  .weui-dialog__btns_vertical {
    .weui-dialog__btn {
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        height: 1rpx;
        width: 100%;
        background-color: #d5d5d6;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}









//ani

@-webkit-keyframes refresh-spin {
  0% {
    -webkit-transform: translateZ(0) rotate(0);
  }

  to {
    -webkit-transform: translateZ(0) rotate(180deg);
  }
}


@keyframes refresh-spin {
  0% {
    transform: translateZ(0) rotate(0);
  }

  to {
    transform: translateZ(0) rotate(180deg);
  }
}


@-webkit-keyframes refresh-spin-back {
  0% {
    -webkit-transform: translateZ(0) rotate(180deg);
  }

  to {
    -webkit-transform: translateZ(0) rotate(0);
  }
}


@keyframes refresh-spin-back {
  0% {
    transform: translateZ(0) rotate(180deg);
  }

  to {
    transform: translateZ(0) rotate(0);
  }
}


@-webkit-keyframes refresh-spin-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}


@keyframes refresh-spin-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}


@keyframes slideUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}


.weui-animate-slide-up {
  -webkit-animation: slideUp ease .3s forwards;
  animation: slideUp ease 0.3s forwards;
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}


@keyframes slideRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}


.weui-animate-slide-right {
  -webkit-animation: slideRight ease .3s forwards;
  animation: slideRight ease 0.3s forwards;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}


@keyframes slideDown {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}


.weui-animate-slide-down {
  -webkit-animation: slideDown ease .3s forwards;
  animation: slideDown ease 0.3s forwards;
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}


@keyframes slideLeft {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}


.weui-animate-slide-left {
  -webkit-animation: slideLeft ease .3s forwards;
  animation: slideLeft ease 0.3s forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.weui-animate-fade-in {
  -webkit-animation: fadeIn ease .3s forwards;
  animation: fadeIn ease .3s forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.weui-animate-fade-out {
  -webkit-animation: fadeOut ease .3s forwards;
  animation: fadeOut ease 0.3s forwards;
}

@-webkit-keyframes notify-downin {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}


@keyframes notify-downin {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}


.weui-animate-notify-downin {
  -webkit-animation: notify-downin .3s linear forwards;
  animation: notify-downin 0.3s linear forwards;
}

@-webkit-keyframes notify-upout {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }
}


@keyframes notify-upout {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }
}


.weui-animate-notify-upout {
  -webkit-animation: notify-upout .3s linear forwards;
  animation: notify-upout 0.3s linear forwards;
}

@-webkit-keyframes notification-in {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes notification-in {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.notification.notification-in {
  -webkit-animation: notification-in .4s;
  animation: notification-in .4s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
