@charset "UTF-8";
@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* index */
.index .index-loading {
  position: fixed;
  width: 240rpx;
  height: 240rpx;
  left: 255rpx;
  top: 50%;
  margin-top: -120rpx;
  border-radius: 10rpx;
  background: rgba(0, 0, 0, 0.63);
  z-index: 30; }
  .index .index-loading .lds-dual-ring {
    position: absolute;
    width: 60rpx;
    height: 60rpx;
    left: 90rpx;
    top: 50rpx;
    -webkit-transform: translate(-30rpx, -30rpx) scale(0.3) translate(30rpx, 30rpx);
    transform: translate(-30rpx, -30rpx) scale(0.3) translate(30rpx, 30rpx); }
    .index .index-loading .lds-dual-ring view {
      position: absolute;
      width: 160rpx;
      height: 160rpx;
      top: 20rpx;
      left: 20rpx;
      border-radius: 50%;
      border: 12rpx solid #000;
      border-color: #fff transparent #fff transparent;
      -webkit-animation: lds-dual-ring 1s linear infinite;
      animation: lds-dual-ring 1s linear infinite; }
  .index .index-loading .text {
    text-align: center;
    color: #fff;
    font-size: 28rpx;
    margin-top: 160rpx; }
.index .banner {
  position: relative; }
  .index .banner .bg {
    width: 100%;
    height: 300rpx;
    display: block; }
  .index .banner .logo {
    height: 48rpx;
    width: 100%;
    position: absolute;
    top: 75rpx;
    left: 0; }
  .index .banner .search-wrapper {
    position: absolute;
    bottom: 10rpx;
    left: 0;
    width: 100%; }
    .index .banner .search-wrapper .__search-bar:not(.focused) {
      background: transparent; }
      .index .banner .search-wrapper .__search-bar:not(.focused) .search-unclick .unclick-text {
        height: 70rpx;
        line-height: 70rpx; }
.index .nav-tab navigator {
  display: inline-block;
  box-sizing: border-box;
  width: 375rpx;
  height: 150rpx;
  border-bottom: 1px solid #e6e6e6;
  position: relative; }
  .index .nav-tab navigator:nth-child(2n+1) {
    border-right: 1px solid #e6e6e6; }
  .index .nav-tab navigator .c-333 {
    font-size: 32rpx;
    padding-top: 38rpx; }
  .index .nav-tab navigator .c-999 {
    font-size: 26rpx;
    margin-top: 16rpx; }
  .index .nav-tab navigator image {
    position: absolute;
    height: 80rpx;
    width: 80rpx;
    right: 40rpx;
    top: 40rpx; }
.index .house-list .title {
  font-size: 32rpx;
  padding-top: 30rpx;
  padding-bottom: 5rpx; }
.index .house-list .link {
  line-height: 80rpx;
  text-align: center; }
.index .phone {
  color: #fff;
  background: #00b7ee;
  font-size: 28rpx;
  padding-top: 14rpx;
  padding-bottom: 14rpx;
  line-height: 60rpx;
  margin-top: 50rpx; }
  .index .phone text {
    vertical-align: bottom; }
  .index .phone .iconfont {
    font-size: 60rpx;
    margin-right: 16rpx; }

/* search */
.house-search .search-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
.house-search .search-result {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }
.house-search .none-result {
  text-align: center;
  line-height: 200rpx; }

/* check price */
.check-price {
  padding-bottom: 20rpx;
  overflow: hidden; }
  .check-price .tab-wrapper {
    background: #fff;
    padding: 24rpx 0;
    border-bottom: 1px solid #dfdfdf; }
    .check-price .tab-wrapper view {
      width: 420rpx;
      height: 60rpx;
      border-radius: 30rpx;
      box-sizing: border-box;
      line-height: 60rpx;
      margin: 0 auto;
      color: #00b7ee;
      box-shadow: 0 0 0 1px #00b7ee inset; }
      .check-price .tab-wrapper view text {
        float: left;
        width: 210rpx;
        text-align: center; }
      .check-price .tab-wrapper view .on {
        border-radius: 30rpx;
        background: #00b7ee;
        color: #fff; }
  .check-price .price-trend {
    background: #fff;
    margin-top: 20rpx; }
    .check-price .price-trend .h3 {
      line-height: 80rpx;
      font-weight: 600;
      font-size: 32rpx;
      border-bottom: 1px solid #e6e6e6; }
    .check-price .price-trend .avg-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 28rpx; }
      .check-price .price-trend .avg-price .left {
        vertical-align: baseline; }
        .check-price .price-trend .avg-price .left .main-color {
          font-size: 45rpx;
          font-weight: 600; }
        .check-price .price-trend .avg-price .left .c-999 {
          margin-left: 10rpx; }
      .check-price .price-trend .avg-price .right {
        padding: 16rpx 0; }
        .check-price .price-trend .avg-price .right text {
          margin-left: 40rpx;
          line-height: 44rpx; }
  .check-price .area-price .chart {
    border-bottom: 1px solid #e6e6e6;
    padding-top: 15rpx;
    padding-bottom: 20rpx; }
    .check-price .area-price .chart > view {
      line-height: 40rpx;
      padding-top: 15rpx;
      position: relative;
      padding-bottom: 15rpx;
      font-size: 0; }
    .check-price .area-price .chart text {
      vertical-align: middle;
      height: 40rpx;
      font-size: 30rpx; }
      .check-price .area-price .chart text:nth-child(1) {
        width: 140rpx;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .check-price .area-price .chart text:nth-child(2) {
        color: #fff;
        background: #00b7ee;
        padding-left: 10rpx;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        width: 0;
        transition: all 0.6s linear; }
    .check-price .area-price .chart .fr {
      position: absolute;
      top: 15rpx;
      right: 0; }
      .check-price .area-price .chart .fr::after {
        position: absolute;
        top: 0;
        left: 100%; }
    .check-price .area-price .chart .up-color::after {
      content: '↑'; }
    .check-price .area-price .chart .down-color::after {
      content: '↓'; }
  .check-price .area-price navigator {
    line-height: 80rpx;
    text-align: center; }
    .check-price .area-price navigator .iconfont {
      font-size: 22rpx;
      vertical-align: 4rpx;
      margin-left: 14rpx; }
  .check-price .ask-price {
    border-bottom: 1px solid #e6e6e6; }
    .check-price .ask-price .line {
      display: block;
      line-height: 80rpx;
      height: 80rpx;
      border-bottom: 1px solid #e6e6e6;
      vertical-align: middle;
      position: relative; }
      .check-price .ask-price .line label {
        width: 140rpx;
        height: 80rpx;
        position: absolute;
        left: 24rpx;
        top: 0; }
      .check-price .ask-price .line .input, .check-price .ask-price .line input, .check-price .ask-price .line picker {
        margin-left: 140rpx;
        height: 80rpx; }
    .check-price .ask-price .btn-line {
      padding-top: 30rpx;
      padding-bottom: 30rpx; }
      .check-price .ask-price .btn-line .btn-main {
        line-height: 88rpx;
        height: 88rpx; }

/* house price estimate */
.house-estimate {
  padding-top: 20rpx; }
  .house-estimate .estimate-info {
    background: #fff;
    position: relative; }
    .house-estimate .estimate-info .container {
      padding-top: 30rpx;
      padding-bottom: 32rpx;
      border-bottom: 1px solid #e6e6e6; }
    .house-estimate .estimate-info .name text {
      vertical-align: middle; }
    .house-estimate .estimate-info .name .c-333 {
      font-size: 34rpx;
      font-weight: 600;
      margin-right: 18rpx;
      max-width: 360rpx;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .house-estimate .estimate-info .dl {
      margin-top: 25rpx;
      margin-left: 65rpx;
      overflow: hidden;
      line-height: 60rpx; }
      .house-estimate .estimate-info .dl .dt, .house-estimate .estimate-info .dl .dd {
        float: left; }
      .house-estimate .estimate-info .dl .dt {
        color: #999;
        clear: left;
        font-size: 28rpx;
        width: 112rpx; }
    .house-estimate .estimate-info image {
      position: absolute;
      width: 120rpx;
      height: 120rpx;
      top: 30rpx;
      right: 45rpx; }
    .house-estimate .estimate-info .estimate-result {
      text-align: center;
      line-height: 100rpx;
      height: 100rpx;
      font-weight: 600;
      font-size: 34rpx;
      vertical-align: baseline; }
      .house-estimate .estimate-info .estimate-result text {
        height: 100rpx; }
      .house-estimate .estimate-info .estimate-result .main-color {
        font-size: 50rpx;
        margin: 0 10rpx; }
  .house-estimate .btn-wrapper {
    padding-top: 10rpx; }
    .house-estimate .btn-wrapper button {
      margin-top: 30rpx;
      height: 88rpx;
      line-height: 88rpx; }

/* estimate poster share */
.house-estimate-poster {
  padding-top: 20rpx;
  padding-bottom: 20rpx; }
  .house-estimate-poster .estimate-info {
    background: #f5f5f5;
    position: relative; }
    .house-estimate-poster .estimate-info .container {
      padding-top: 30rpx;
      padding-bottom: 25rpx; }
    .house-estimate-poster .estimate-info .name .c-333 {
      font-size: 34rpx;
      font-weight: 600;
      margin-right: 18rpx; }
    .house-estimate-poster .estimate-info .dl {
      margin-top: 25rpx;
      overflow: hidden;
      line-height: 60rpx; }
      .house-estimate-poster .estimate-info .dl .dt, .house-estimate-poster .estimate-info .dl .dd {
        float: left; }
      .house-estimate-poster .estimate-info .dl .dt {
        color: #999;
        clear: left;
        font-size: 28rpx;
        width: 112rpx; }
    .house-estimate-poster .estimate-info image {
      position: absolute;
      width: 120rpx;
      height: 120rpx;
      top: 30rpx;
      right: 45rpx; }
    .house-estimate-poster .estimate-info .estimate-result {
      text-align: center;
      line-height: 100rpx;
      height: 100rpx;
      font-weight: 600;
      font-size: 34rpx;
      vertical-align: baseline; }
      .house-estimate-poster .estimate-info .estimate-result .main-color {
        font-size: 50rpx; }

/*# sourceMappingURL=difan.css.map */
