@charset "UTF-8";

/*****new-house-detail start*****/
@charset "UTF-8";
@import "args";


/*flex*/
.box{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap}
.box-lr{-webkit-box-direction:normal;-webkit-box-orient:horizontal;-moz-flex-direction:row;-webkit-flex-direction:row;flex-direction:row}
.box-rl{-webkit-box-pack:end;-webkit-box-direction:reverse;-webkit-box-orient:horizontal;-moz-flex-direction:row-reverse;-webkit-flex-direction:row-reverse;flex-direction:row-reverse}
.box-tb{-webkit-box-direction:normal;-webkit-box-orient:vertical;-moz-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}
.box-bt{-webkit-box-pack:end;-webkit-box-direction:reverse;-webkit-box-orient:vertical;-moz-flex-direction:column-reverse;-webkit-flex-direction:column-reverse;flex-direction:column-reverse}
.box-pack-center{-webkit-box-pack:center;-moz-justify-content:center;-webkit-justify-content:center;justify-content:center}
.box-pack-start{-webkit-box-pack:start;-moz-justify-content:flex-start;-webkit-justify-content:flex-start;justify-content:flex-start}
.box-pack-end{-webkit-box-pack:end;-moz-justify-content:flex-end;-webkit-justify-content:flex-end;justify-content:flex-end}
.box-pack-between{-webkit-box-pack:justify;-moz-justify-content:space-between;-webkit-justify-content:space-between;justify-content:space-between}
.box-align-center{-webkit-box-align:center;-moz-align-items:center;-webkit-align-items:center;align-items:center}
.box-align-start{-webkit-box-align:start;-moz-align-items:start;-webkit-align-items:flex-start;align-items:flex-start}
.box-align-end{-webkit-box-align:end;-moz-align-items:end;-webkit-align-items:flex-end;align-items:flex-end}
.self-align-center{align-self:center;-webkit-align-self:center;margin:0 auto}
.self-align-start{align-self:flex-start;-webkit-align-self:flex-start}
.self-align-end{align-self:flex-end;-webkit-align-self:flex-end}
.self-align-stretch{align-self:stretch;-webkit-align-self:stretch}
.box-wrap{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.box-nowrap{-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap}
.flex{-moz-flex-grow:1;-webkit-flex-grow:1;flex-grow:1}


/*flex*/
/*common*/
.dn{display: none;}
.pd-88{padding-bottom: 88rpx;}
.bg-f5{background-color: #f5f5f5;}
.bg-fff{background-color: #fff;}
.bdm{border-bottom: 1rpx solid $bdc;}
.blank20 {  height: 20rpx;  overflow: hidden;  }
.clearfix:after {content: " ";clear: both;display: block;height: 0;visibility: hidden; }
.modalmask{
  background: #000;
  opacity: .7;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10001;
}
/*common*/
.menuwap{  width: 100%;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:88rpx;
}
.see-other {
  margin:0 24rpx;
  text-align: center;
  height: 78rpx;
  line-height: 78rpx;
  background-color: #f5f5f5;
  border-radius: 8rpx;
  margin-top:30rpx;;
  .btn{display: block;
    font-size: 30rpx;
    color: #333;}
}
.house-detail{
  flex: 1;
  width: 100%;
  height:100%;
  .coverswiper{  width:100%;height:420rpx;  position: relative;  overflow: hidden;
    .swiper-wrap{  width:100%;  height:420rpx;
      .slide-image{width:100%;height:100%;
      }
    }
    .pages{width:84rpx;height:36rpx;line-height:36rpx;text-align:center;background-color:#000;opacity:.56;position: absolute;left:24rpx;bottom: 20rpx;border-radius: 4rpx;
      .active{font-size: 32rpx;color:#fff;}
      .ft22{font-size: 22rpx;color:#fff;}
    }
  }
  .detail-info{padding:24rpx;position: relative;
    .lp-price{line-height: 45rpx;
      .price{font-size:38rpx;color: $mainredcolor;display: inline-block;font-weight: 500; overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;  float: left;vertical-align: middle;}
      .unit{font-size:24rpx;color: $mainredcolor;display: inline-block;}
      .state{margin-left:40rpx;display:inline-block;width:80rpx;height:38rpx;line-height:38rpx;text-align: center;color: $lightMainColor;font-size: 24rpx;vertical-align: 6rpx;}
      .lpdata{  font-size: 26rpx; color: $maincolor; }
    }
    .lp-updtime{margin-top:16rpx;font-size: 26rpx;color: #999;}
    .lp-stag{margin-top:16rpx;overflow: hidden;
      .tag{  display: inline-block;  font-size: 24rpx;  border-radius: 4rpx;  line-height: 24rpx;  padding: 4rpx 10rpx;  border: none;  overflow: hidden;  margin-right:10rpx;  margin-bottom: 2rpx;
        &.c-1{ background:#ebf3fe;color: #7a9bcc}
        &.c-2{ background:#e1f8e0;color: #75ae75}
        &.c-3{ background:#fbe9e7;color: #e29076}
        &.c-4{ background:#fff3e0;color: #ffa726}
        &.c-5{ background:#ebf3fe;color: #7a9bcc}
        &.c-6{ background:#e1f8e0;color: #75ae75}
        &.c-7{ background:#fbe9e7;color: #e29076}
        &.c-8{ background:#fff3e0;color: #ffa726}

      }
    }
  }
  .basedetail{
    margin-bottom: 20rpx;
    .row{ padding:24rpx;
      .row-l{
        .iconfont{
           width:54rpx;
           font-size: 34rpx;
           color:#999;
           display: inline-block;
           vertical-align: 2rpx;
        }
        .col-t{font-size: 26rpx;color: #333;vertical-align: 6rpx;}
      }
      .row-r{
        .btn{display: inline-block;width:120rpx;height:40rpx;line-height: 40rpx;text-align: center;font-size: 24rpx;border-radius: 8rpx;color:#fff;vertical-align: 4rpx;
          &.c-ff8f3c{background-color: #ff8f3c;}
          &.c-50d0c2{background-color: #50d0c2;}
        }
        .iconfont{font-size: 32rpx; color:#999;display: inline-block;vertical-align: 2rpx;}
      }
    }
  }
  .mBox{margin-bottom: 20rpx;
    .mTitle{height:80rpx;border-bottom: 1rpx solid $bdc;padding:0 24rpx;&.mTitle-nobdm{border-bottom: 0;}
      .mTitle-l {   font-size: 30rpx;  text-overflow: ellipsis;  white-space: nowrap; font-weight: 500;
        .mTitle-l-s{font-size:24rpx;color:#999;}
      }
      .mTitle-r{font-size: 24rpx;color:#999;
        &.btn{display: inline-block;width:120rpx;height:40rpx;line-height: 40rpx;text-align: center;font-size: 24rpx;border-radius: 8rpx;color:#fff;vertical-align: 4rpx;
          &.c-5092d0{color:#fff;background-color: #5092d0;  }
        }
        .iconfont{font-size: 24rpx;color:#999;}
      }
    }
    .mMore{height:76rpx;
      .mMore-text{font-size:28rpx;display: inline-block;
        &.red{color:$maincolor;}
      }
      .iconfont{font-size:28rpx;color:#b8b8b8;display: inline-block;margin-left:16rpx;}
    }
    .mDesc{border-bottom: 1rpx solid $bdc;padding:0 24rpx;&.mDes-nbtm{  border-bottom:0;  }
      .mDesc-text{
        display: inline-block;
        padding:20rpx 0;
        line-height: 48rpx;
        font-size: 30rpx;
        color:#333;
        overflow: hidden;}
      .contenTxt{width:100%;  max-height: 226rpx; overflow: hidden;  }
      .contenTxtAll{  max-height: none;  }
      .tehuituan{padding:30rpx 0;
        .pic{width:200rpx;height:150rpx;margin-right:30rpx;text-align: center;flex:0 0 200rpx;
          image{width:100%;height:100%;display: block;}
        }
        .info{overflow: hidden;
          .tit{font-size: 30rpx;color:#333;white-space: nowrap;  text-overflow: ellipsis;  overflow: hidden;
            .tit-s{margin-right:20rpx;vertical-align: -10rpx;}
          }
          .dec{font-size: 26rpx;color:#666;margin-top:14rpx;
            .c-red{color:$maincolor;margin-right:10rpx;}
          }
          .tags{font-size: 26rpx;color:#999;margin-top:14rpx;
            .tags-s{margin-right:14rpx;
              &.c-red{color:$maincolor;}
            }
          }
        }

      }
      .hx-list{
        width:100%;
        overflow-x: scroll;
        white-space: nowrap;padding:30rpx 0 14rpx;
        .item{display:inline-block;width:200rpx;overflow: hidden;margin-right:50rpx; &:last-child{  margin-right:0;  }
          .pic{width:100%;height:150rpx;position: relative;
            image{width:100%;height:100%;}
            .lab{display:inline-block;position:absolute;top:0;right:0;padding:0 10rpx;height:32rpx;line-height:32rpx;font-size:22rpx;text-align:center;background-color: #ff706a;color:#fff;}
          }
          .info{margin-top:10rpx;width: 100%;line-height: 55rpx;
            .tit{color:#333;font-size: 30rpx;width: 100%;white-space: nowrap;  text-overflow: ellipsis;  overflow: hidden;}
            .hx{font-size: 26rpx;color: #999;
              .hx-s{&:last-child{margin-right:0;}}
            }
            .price{width:100%;overflow: hidden;color: $lightMainColor;font-size: 30rpx;}
          }
        }
      }
      .area-plot-list{
        width:100%;
        overflow-x: scroll;
        white-space: nowrap;padding:30rpx 0 14rpx;
        .item{display:inline-block;width:200rpx;overflow: hidden;margin-right:50rpx; &:last-child{  margin-right:0;  }
          .pic{width:100%;height:150rpx;position: relative;
            image{width:100%;height:100%;}
            .lab{display:inline-block;position:absolute;top:0;right:0;padding:0 10rpx;height:32rpx;line-height:32rpx;font-size:22rpx;text-align:center;background-color: #ff706a;color:#fff;}
          }
          .info{
            .p{
              height: 48rpx;
              line-height: 48rpx;
              overflow: hidden;
              &.title{
                font-weight:500;
                margin-top:10rpx;
                font-size: 28rpx;
                .span{
                  margin-right: 10rpx;
                  &:last-child{
                    margin-right: 0;
                  }
                }
              }
              &.desc{
                .type{
                  float: right;
                  font-size: 26rpx;
                  color:$c-999;
                  .em{
                    margin-right: 10rpx;
                  }
                }
                .price{
                  float: left;
                  font-size: 30rpx;
                  color:$lightMainColor;
                }
              }
            }
          }
        }
      }
      .rent-love-list{
        width:100%;
        overflow-x: scroll;
        white-space: nowrap;
        padding:30rpx 0 14rpx;
        //border-bottom: 1rpx solid $bdc;
        .li{
          float: left;
          margin: 30rpx 30rpx 0 0;
          &:nth-child(2n){
            margin-right: 0;
          }
          .pic{
            width: 336rpx;
            height:254rpx;
            .img{
              width: 100%;
              height:100%;
              border:1rpx solid $borderColor;
            }
          }
          .info{
            .p{
              height: 48rpx;
              line-height: 48rpx;
              overflow: hidden;
              &.title{
                font-weight:500;
                margin-top:10rpx;
                font-size: 28rpx;
                .span{
                  margin-right: 10rpx;
                  &:last-child{
                    margin-right: 0;
                  }
                }
              }
              &.desc{
                .type{
                  float: right;
                  font-size: 26rpx;
                  color:$c-999;
                  .em{
                    margin-right: 10rpx;
                  }
                }
                .price{
                  float: left;
                  font-size: 30rpx;
                  color:$lightMainColor;
                }
              }
            }
          }
        }
      }
    }
    .loudong{
      .ld-qs{width: 100%;  height:80rpx;line-height:80rpx;background-color: #f7f7f7;overflow-x: scroll;  white-space: nowrap;
        .item{display: inline-block;  font-size:30rpx;  color: #666;width:20%; text-align: center;
          &.on{
            .in{display:inline-block;height:77rpx;color:$maincolor;border-bottom:3rpx solid $maincolor;} }
        }
      }
      .ld-map{  width:100%;height:310rpx;position: relative;  overflow: hidden;
        .pic{width:100%;height:100%; image{width:100%;height:100%;}
        }
      }
      .ld-mapperiod{width:100%;height:598rpx;overflow: auto;
        .drag-warp{position: relative;
          .pic{  width: auto; height:auto;
            image{display: block}
          }
          .ld-icon{position: absolute;  height: 45rpx;  line-height: 45rpx;   color: #ffffff;background-color: #fff;
            &.z-sale{
              .tag{
                background-color: #ff706a;
                .em{
                  border-color:#ff706a transparent transparent;
                }
              }
            }
            &.w-sale{
              .tag{
                background-color: #b0b2be;
                .em{
                  border-color:#b0b2be transparent transparent;
                }
              }
            }
            &.d-sale{
              .tag{
                background-color: #81b4ff;
                .em{
                  border-color:#81b4ff transparent transparent;
                }
              }
            }
            .tag{float:left;
              display:block;padding:0 20rpx;text-align: center;font-size:26rpx;position:relative;
              .em{display:block;
                border-width:10rpx;
                position:absolute;
                bottom:-16rpx;
                left:16rpx;
                border-style:solid dashed dashed;
                font-size:0;
                line-height:0;}
            }
            .state{display:block;float:left;width:82rpx;text-align: center;font-size:22rpx;color:#555;}
          }
        }
      }
    }
    .wz-map{width:100%;position: relative;
      .esf-map{
        padding:30rpx 24rpx;
        .addr{
          font-size: 28rpx;
          margin-bottom: 30rpx;
          .span{
            color:$c-999;
          }
        }
      }
      .img{width:100%;height:300rpx;}
      .BMap_cpyCtrl {  display:none;  }
      .anchorBL{  display:none;  }
      .cover{
        font-size:26rpx;position:absolute;bottom:0;width:100%; height:66rpx;line-height: 66rpx;background-color: #000;opacity: .7;
        .txt{
          position:relative;padding:0 24rpx;display: inline-block;color:#fff;z-index: 10;
         }
      }
    }
    .mMore-noti{font-size:22rpx;color:#999;display: inline-block;line-height: 34rpx;padding:30rpx 24rpx;}
    .promite-box{
      padding:20rpx 24rpx ;
      .left{
        float:left;
        width: 85%;
        border-right: 1px solid $borderColor;
        height: 60rpx;
        line-height: 60rpx;
        .icon-jubao{
            color:$maincolor;
            vertical-align: middle;
        }
        .jubao-text{
          color:#333;
          font-size: 30rpx;
          margin:0 6rpx;
          vertical-align: middle;
        }
        .tip{
            font-size: 22rpx;
            color: #999;
        }
      }
      .right{
        float:right;
        font-size: 32rpx;
        color:#666;
        width: 15%;
        position: relative;
        text-align: center;
        .mail-pic{
          margin:0 auto 10rpx;
          width: 31rpx;
          height: 31rpx;
          image{
              width:100%;
              height:100%;
          }
        }
      }
    }
  }
  .mapdetail{
    width:100%;
    height:100%;
    position: relative;
    .map{
      width:100%;
      height:100%;
    }
    .map-around-bar{
      position: fixed;
      bottom:0;
      height:98rpx;
      width:100%;
      background-color: #fff;
      .ul{
        height:100%;
        margin:0 24rpx;
        .li{
          width:20%;
          float: left;
          height:100%;text-align: center;
          .icon{
            width:60rpx;height:60rpx;margin:5rpx auto;
            &.icon-jiaotong{
              background:url($static_path + "/icon-jiaotong.png") center;
              background-size: 100% 100%;
            }
            &.icon-jiaoyu{
              background:url($static_path +  "/icon-jiaoyu.png") center;
              background-size: 100% 100%;
            }
            &.icon-meishi{
              background:url($static_path +  "/icon-meishi.png") center;
              background-size: 100% 100%;
            }
            &.icon-jiankang{
              background:url($static_path +  "/icon-jiankang.png") center;
              background-size: 100% 100%;
            }
            &.icon-shenghuo{
              background:url($static_path +  "/icon-shenghuo.png") center;
              background-size: 100% 100%;
            }
          }
          .txt{ font-size:22rpx;color:#333;}
        }
      }
    }
  }
}
.mBottom{
  width:100%;position: fixed;bottom:0;height:88rpx;color:#fff;z-index: 10000;border-top:1rpx solid $borderColor;
  .right{
    flex:0 0 294rpx;
    width: 294rpx;
    height: 88rpx;
    line-height: 88rpx;
    text-align: center;
    background-color: $maincolor;
    font-size: 32rpx;
    color:#fff;
  }
  .left{
    height:88rpx;
    line-height: 36rpx;
    .a{
      width:152rpx;
      display: inline-block;
      text-align: center;
      color:#666;
      padding-top:8rpx;
      font-size: 22rpx;
      position: relative;
      .iconfont{
        display: block;
        margin-bottom: 10rpx;
        font-size: 36rpx;
      }
    }
  }
}











