
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1502270013327'); /* IE9*/
  src: url('iconfont.eot?t=1502270013327#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502270013327') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502270013327') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502270013327#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before { content: "\e600"; }

.icon-tel1:before { content: "\e613"; }

.icon-tel:before { content: "\e601"; }

.icon-menu311:before { content: "\e602"; }

.icon-youjiantou:before { content: "\e604"; }

.icon-search:before { content: "\e63b"; }

.icon-dianhua:before { content: "\e632"; }

.icon-closed:before { content: "\e603"; }

.icon-jiantou1:before { content: "\e634"; }

.icon-zixun:before { content: "\e6f7"; }

.icon-iconfontweixin:before { content: "\e60b"; }

.icon-yuyuekanfang:before { content: "\e628"; }

.icon-jiantoushang:before { content: "\e635"; }

.icon-message:before { content: "\e657"; }

.icon-tubiao49:before { content: "\e62e"; }

.icon-del1:before { content: "\e60c"; }

.icon-lab:before { content: "\e6df"; }

.icon-add:before { content: "\e6ef"; }

.icon-da:before { content: "\e6f0"; }

.icon-dtel:before { content: "\e6f1"; }

.icon-hui:before { content: "\e6f2"; }

.icon-time:before { content: "\e6f3"; }

.icon-wen:before { content: "\e6f4"; }

.icon-yushou:before { content: "\e6f5"; }

.icon-type:before { content: "\e6f6"; }

.icon-map:before { content: "\e6f8"; }

