<template name="searchFilter">
  <view class="{{'__search-filter ' + (filterType !== '0' ? 'fixed':'')}}">
    <view class="filter-bg">
      <view class="filter-tab">
        <view bindtap="{{setFilterType}}" data-index="1" class="{{filterType === '1' ? 'on' : ''}}">
          <text>区域</text>
          <text class="iconfont icon-jiantou1"></text>
        </view>
        <view bindtap="{{setFilterType}}" data-index="2" class="{{filterType === '2' ? 'on' : ''}}">
          <text>价格</text>
          <text class="iconfont icon-jiantou1"></text>
        </view>
        <view bindtap="{{setFilterType}}" data-index="3" class="{{filterType === '3' ? 'on' : ''}}">
          <text>户型</text>
          <text class="iconfont icon-jiantou1"></text>
        </view>
        <view bindtap="{{setFilterType}}" data-index="4" class="{{filterType === '4' ? 'on' : ''}}">
          <text>筛选</text>
          <text class="iconfont icon-jiantou1"></text>
        </view>
      </view>
      <view class="filter-select">
        <!-- 区域 -->
        <view class="select-box area-select" data-boxindex="1" hidden="{{filterType !== '1'}}">
          <scroll-view class="fl" scroll-y="true">
            <view class="select-line">不限</view>
            <view class="select-line">新北区</view>
            <view class="select-line">钟楼区</view>
            <view class="select-line on">天宁区</view>
            <view class="select-line">武进区</view>
            <view class="select-line">武进经开区</view>
            <view class="select-line">金坛</view>
            <view class="select-line">溧阳</view>
          </scroll-view>
          <scroll-view class="fr" scroll-y="true">
            <view class="select-line on">不限</view>
            <view class="select-line">新桥板块</view>
            <view class="select-line">飞龙生活区</view>
            <view class="select-line">恐龙园</view>
            <view class="select-line">河海大学</view>
            <view class="select-line">新区公园</view>
            <view class="select-line">新北市政府</view>
            <view class="select-line">燕山路</view>
            <view class="select-line">薛家</view>
            <view class="select-line">软件园</view>
            <view class="select-line">三井</view>
            <view class="select-line">天目山路</view>
            <view class="select-line">魏村</view>
            <view class="select-line">百丈</view>
          </scroll-view>
        </view>
  
        <view class="select-box" data-boxindex="2" hidden="{{filterType !== '2'}}">
          <scroll-view scroll-y="true">
            <view class="select-line on">不限</view>
            <view class="select-line">5000以下</view>
            <view class="select-line">5000-6000</view>
            <view class="select-line">6000-7000</view>
            <view class="select-line">7000-8000</view>
            <view class="select-line">8000-9000</view>
            <view class="select-line">9000-10000</view>
            <view class="select-line">10000以上</view>
          </scroll-view>
          <view class="container price-filter-btn">
            <input type="number" placeholder="最小"/><text>至</text><input type="number" placeholder="最大"/><text>万</text>
            <button class="btn-main">确定</button>
          </view>
        </view>
  
        <view class="select-box" data-boxindex="3" hidden="{{filterType !== '3'}}">
          <scroll-view scroll-y="true">
            <view class="select-line on">不限</view>
            <view class="select-line">一室</view>
            <view class="select-line">二室</view>
            <view class="select-line">三室</view>
            <view class="select-line">四室</view>
            <view class="select-line">五室</view>
            <view class="select-line">五室以上</view>
          </scroll-view>
        </view>
  
        <view class="select-box other-select" data-boxindex="4" hidden="{{filterType !== '4'}}">
          <scroll-view scroll-y="true">
  
            <view class="container">
              <text>排序</text>
              <view class="select-list">
                <button class="on">不限</button>
                <button>均价从低到高</button>
                <button>开盘时间顺序</button>
                <button>最新发布时间</button>
                <button>均价从高到低</button>
                <button>开盘时间倒序</button>
              </view>
            </view>
            <view class="container">
              <text>特色</text>
              <view class="select-list">
                <button class="on">不限</button>
                <button>小户型</button>
                <button>邻近主干道</button>
                <button>高架沿线</button>
                <button>品牌地产</button>
                <button>公园地产</button>
                <button>现房</button>
                <button>BRT沿线房</button>
                <button>教育资源</button>
              </view>
            </view>
            <view class="container">
              <text>类型</text>
              <view class="select-list">
                <button class="on">不限</button>
                <button>住宅</button>
                <button>花园洋房</button>
                <button>别墅</button>
                <button>商铺</button>
                <button>酒店式公寓</button>
                <button>写字楼</button>
              </view>
            </view>
            <view class="container">
              <text>开盘</text>
              <view class="select-list">
                <button class="on">不限</button>
                <button>本月开盘</button>
                <button>下月开盘</button>
                <button>三月内开盘</button>
                <button>六月内开盘</button>
                <button>前三月已开盘</button>
                <button>前六月已开盘</button>
              </view>
            </view>
            <view class="container">
              <text>销售</text>
              <view class="select-list">
                <button class="on">不限</button>
                <button>在售</button>
                <button>待售</button>
                <button>尾盘</button>
                <button>售罄</button>
              </view>
            </view>
            <view class="container">
              <text>装修</text>
              <view class="select-list">
                <button class="on">不限</button>
                <button>毛坯</button>
                <button>精装</button>
                <button>公共部分精装</button>
              </view>
            </view>
  
          </scroll-view>
          <view class="container other-btn-filter">
            <button class="anti-btn-main">重置</button>
            <button class="btn-main fr">确定</button>
          </view>
  
        </view>
  
      </view>
    </view>
  </view>
</template>